<%- partial('_partial/head') %>

<body>
    <div id="container">
        <div id="wrap">
            <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
            <div class="outer">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Header -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4429081934118390" data-ad-slot="2664458804"
                    data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
                <section id="main">
                    <%- body %>
                </section>
                <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
                <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
                <% } %>
            </div>
            <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
        </div>
        <%- partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
        <%- partial('_partial/after-footer') %>
    </div>
</body>

</html>